<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team and Heroes</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto%></h2>
    <br>
    <h3>Hero Name: <%= @heroes[0].name %></h3>
    <p>Hero Power: <%= @heroes[0].power%><br>
    Hero Biography: <%= @heroes[0].biography%></p>

    <h3>Hero Name: <%= @heroes[1].name %></h3>
    <p>Hero Power: <%= @heroes[1].power%><br>
    Hero Biography: <%= @heroes[1].biography%></p>

    <h3>Hero Name: <%= @heroes[2].name %></h3>
    <p>Hero Power: <%= @heroes[2].power%><br>
    Hero Biography: <%= @heroes[2].biography%></p>

  </body>
</html>
